{% extends "base.html" %}

{% block content %}

<a href="/new">Добавить анта</a>

{% if ants: %}
<h2>Анты:</h2>
<ul class="ant-list">
    {% for ant in ants %}
    <li class="ant">{{ ant.value }} (автор: {{ ant.author }})</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
