{% extends "base.html" %}

{% block content %}

<form method="POST">
    <input type="text" name="ant-word" placeholder="...ант" value="{{ant}}">
    <br>
    <input type="submit" value="Отправить">
</form>

{% if input_error %}
<div class="error">
    {{ input_error }}
</div>
{% endif %}

{% endblock %}
